body {
    background-color: #222;
    color: #eee;

    #players {
        text-align: center;

        form {
            width: 160px;
            margin: auto;

            .draw-card,
            .inputs {
                margin-bottom: 20px;
            }

            .inputs {
                display: flex;
                flex-direction: column;
                gap: 5px;

                label {
                    background-color: #333;
                    display: flex;
                    justify-content: left;

                    &:has(input[disabled]) {
                        opacity: 0.6;
                    }
                }
            }
        }
    }
}
