html,
body {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;

    #players {
        height: 100%;
        overflow: auto;

        #player,
        #opponent {
            height: fit-content;
            min-height: 45%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            .stats {
                width: 100%;
                display: flex;

                .name,
                .score {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                .name {
                    flex: 1;
                }

                .score {
                    flex: 1;
                }
            }

            .play {
                display: flex;
                align-items: center;
                justify-content: center;
                flex: 1;
                flex-direction: column;

                .cards {
                    display: flex;
                    flex: 1;
                    align-items: center;
                    justify-content: center;
                    flex-wrap: wrap;

                    .card {
                        height: 200px;
                        width: 120px;
                        border: 1px solid blue;

                        &:has(input[type="checkbox"]:checked) {
                            background-color: yellow;
                        }

                        input[type="checkbox"] {
                            display: none;
                        }
                    }
                }
            }

            .played {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                .card {
                    height: 100px;
                    width: 60px;
                    border: 1px solid blue;
                }
            }
        }

        #draw-pile {
            height: fit-content;
            min-height: 10%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        #player {
            background-color: burlywood;
            color: #222;

            .played {
                background-color: bisque;
            }
        }

        #opponent {
            background-color: #333;
            color: #eee;

            .played {
                background-color: #555;
            }
        }
    }
}
